<div>
  <h1>Book and Drink Pairings</h1>
  <ul>
    {{#pairings}}
      <li>
        <h2>{{book.title}} by {{book.author}}</h2>
        <p>Pair with: {{drink.name}} ({{drink.type}})</p>
        <p>{{book.description}}</p>
      </li>
    {{/pairings}}
  </ul>
</div>