<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <style>
    body {
        background-color: #1a1a1a;
        color: #f5f5f5;
        font-family: 'Roboto', Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
        font-weight: 700;
        margin: 20px 0;
    }

    #search {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #282828;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    #search-input {
        padding: 10px;
        border-radius: 25px;
        border: 1px solid #ddd;
        width: 50%;
        max-width: 500px;
        margin-right: 10px;
        outline: none;
        transition: border 0.3s;
    }

    #search-input:focus {
        border-color: #008CBA;
    }

    #search-button {
        background-color: #008CBA; /* Blue */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 25px;
        cursor: pointer;
        transition: all 0.4s;
    }

    #search-button:hover {
        background-color: white; 
        color: #008CBA; 
        border: 2px solid #008CBA;
    }

    #bookshelf {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    .book {
        background-color: #333;
        border: 1px solid #444;
        border-radius: 8px;
        width: 250px;
        margin: 15px;
        padding: 20px;
        box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.2);
        transition: all 0.3s ease-in-out;
    }

    .book:hover {
        box-shadow: 0 8px 16px 0 hsla(0, 0%, 0%, 0.2);
        transform: translateY(-5px);
    }

    .book h2 {
        margin: 0 0 10px 0;
        color: #f5f5f5;
        font-size: 1.2em;
    }

    .book h3 {
        margin: 0 0 5px 0;
        color: #ccc;
        font-size: 1em;
        font-weight: 400;
    }

    .book p {
        margin: 0;
        color: #aaa;
        font-size: 0.9em;
    }

    .add-book {
        background-color: #008CBA; /* Blue */
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 14px;
        margin: 15px 0 0 0;
        cursor: pointer;
        border-radius: 25px;
        transition: all 0.4s;
    }

    .add-book:hover {
        background-color: white; 
        color: #008CBA; 
        border: 2px solid #008CBA;
    }

    @media (max-width: 600px) {
        #search-input {
            width: 70%;
        }
    }
  </style>
</head>
<body>
  <h1>{{title}}</h1>
  <div id="search">
    <input type="text" id="search-input" placeholder="Search for a book">
    <button id="search-button">Search</button>
  </div>
  <div id="bookshelf">
    {{#each books}}
      <div class="book" id="book-{{id}}">
        <h2>{{title}}</h2>
        <h3>By {{authors}}</h3>
        <p>Publisher: {{publisher}}</p>

        <img src="{{imageURL}}" alt="{{title}} book cover">

        <button class="add-book">Add to library</button>
      </div>
    {{/each}}
  </div>
  <script>
    document.querySelectorAll('.add-book').forEach(button => {
      button.addEventListener('click', event => {
        const bookId = event.target.closest('.book').id.split('-')[1];
        console.log(bookId)
      });
    });
    document.getElementById('search-button').addEventListener('click', async () => {
      const searchInput = document.getElementById('search-input').value;
      window.location.replace('/books/' + searchInput);
    });
  </script>
</body>
</html>